body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    height: 100vh;
}

.sidebar-header h2 {
    margin: 0;
    padding: 10px 0;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    padding: 10px 0;
    cursor: pointer;
}

.menu li:hover {
    background-color: #ddd;
}
.logout {
    margin-top: 20px;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

.logout:hover {
    text-decoration: underline;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    margin-right: 10px;
}

.user-icon {
    display: flex;
    align-items: center;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.statistics {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.stat-item {
    width: 20%;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
/* QLSP */
.management-section {
    margin-top: 20px;
}

.management-section h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.management-section {
    margin-top: 20px;
    display: none; 
}
button:hover {
    background-color: #218838;
}

button.edit-btn {
    background-color: #ffc107;
}

button.delete-btn {
    background-color: #dc3545;
}

button.edit-btn:hover {
    background-color: #e0a800;
}

button.delete-btn:hover {
    background-color: #c82333;
}
